<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.polibatam.meler"
    tools:ignore="MissingLeanbackLauncher">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".praktikum.PDFActivity"></activity>
        <activity android:name=".PraktikumActivity" />
        <activity android:name=".MotionLibraryActivity" />
        <activity android:name=".AchieveActivity" />
        <activity android:name=".view.storyboard.QuizActivity" />
        <activity android:name=".view.storyboard.SectionActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".view.intro.SplashIntroActivity"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".view.intro.SplashActivity"
            android:theme="@style/AppThemeLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.storyboard.VideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:supportsPictureInPicture="true" />

        <service android:name=".controller.VideoDownloadService" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="true" />
    </application>

</manifest>